<h1>Editing color swatch</h1>

<%= render "form", color_swatch: @color_swatch %>

<br>

<div>
  <%= link_to "Show this color swatch", @color_swatch %> |
  <%= link_to "Back to color swatches", color_swatches_path %>
</div>
