<p style="color: green"><%= notice %></p>

<%# <h1 >Color swatches</h1> %>

<%# <div id="color_swatches"> %>
  <%# <% @color_swatches.each do |color_swatch| %> %>
    <%# <%= render color_swatch %> %>
    <%# <p> %>
      <%# <%= link_to "Show this color swatch", color_swatch %> %>
    <%# </p> %>
  <%# <% end %> %>
<%# </div> %>

  <div class="main-content">
  <div class="bg-image">
      <img src="https://images.unsplash.com/photo-1610166970010-c2e6c3da7164?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="women with lipstick"  >
  </div>

  
  <div class="usable-content">
    <div> 
      <h1>bla bla bla</h1>
      <%= link_to "Quiero personalizar", new_color_swatch_path %>      
    </div>
  </div>
</div>



